/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
