/* здесь используйте глобальные переменные */
$primary-font: "Lato-Regular", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$bg-basic-green: #68b738;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
