/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo-pic.scss";
@import "./blocks/logo-text.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-container.scss";
@import "./blocks/nutrition-programs.scss";
@import "./blocks/catalog-categories.scss";
@import "./blocks/categories.scss";
@import "./blocks/method-application.scss";
@import "./blocks/title-section.scss";
@import "./blocks/example.scss";
@import "./blocks/statistics.scss";
@import "./blocks/catalog.scss";
@import "./blocks/main-products.scss";
@import "./blocks/product-card.scss";
@import "./blocks/filter.scss";
@import "./blocks/product-all-cards.scss";
@import "./blocks/other-products.scss";
@import "./blocks/action.scss";
@import "./blocks/newsletter.scss";
@import "./blocks/button.scss";
@import "./blocks/main-contacts.scss";
@import "./blocks/main-contacts-map.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/screen-stretch-wrapper.scss";
