.action {
  min-width: 280px;
  min-height: 290px;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/action-image-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/action-image-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/action-image-mobile@2x.jpg") type("image/jpeg") 2x,
      url("../../images/action-image-mobile@1x.jpg") type("image/jpeg") 1x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  padding: 58px 59px 20px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    min-width: 707px;
    min-height: 200px;
    margin-top: 52px;
    padding: 58px 79px 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    min-height: 288px;
    margin-top: 0;
    padding: 58px 79px 20px;
  }
}


.action__gift {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#icon-gift");
    background-position: center;
  }
}

.action__description {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 48px;


  @media (min-width: $tablet-width) {
    width: 205px;
    text-align: left;
    margin: 0;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    text-align: center;
    padding-right: unset;
    padding-top: 45px;
  }
}
