.action {
  min-width: 280px;
  min-height: 290px;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/action-image-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/action-image-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/action-image-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../images/action-image-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 58px 59px 43px;
}

.action__gift-text {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
