.copyright {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: unset;
  }
}

.copyright__link {
  display: flex;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;

  &::after {
    content: "";
    mask-image: url("../../icons/stack.svg#logo-academy");
    width: 27px;
    height: 34px;
    display: block;
    background-color: #666666;
    margin-left: 23px;
  }
}

.copyright__logo {

  background-size: 27px 34px;
}
