.main-header {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 12px 33px 0 10px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 110px 40px;
  }
}

.main-header__wrapper {
  padding: 14px 20px 8px;

  @media (min-width: $tablet-width) {
    margin: unset;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 0 8px;
  }
}

.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.main-header__logo-pic {
  max-width: unset;
}

.main-header__logo-text {
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
    width: 152px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    margin-left: 14px;
  }
}

.main-header__logo--click:hover,
.main-header__logo--click:focus {
  opacity: 70%;
}


.main-header__logo--click:active {
  opacity: 40%;
}

.main-header__nav {
  @media (min-width: $desktop-width) {
    max-width: 600px;
    margin-left: auto;
  }
}

.main-header__nav-toggle {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: none;
  position: absolute;
  background-color: #ffffff;
  padding: 0;
  right: 12px;
  top: 8px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__nav-toggle--nojs {
  display: none;
}

.main-header__nav-toggle--closed::before {
  content: "";
  background-color: #000000;
  width: 24px;
  height: 2px;
  position: relative;
  top: -8px;
  right: -10px;
  box-shadow: 0 8px #000000, 0 16px #000000;
  display: block;
}

.main-header__nav-toggle--opened::before {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 50%;
  left: 50%;
  width: 1.5px;
  height: 24px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.main-header__nav-toggle--opened::after {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 50%;
  left: 50%;
  width: 1.5px;
  height: 24px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
