.main-contacts__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.main-contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  font-style: normal;
}
