.menu-list {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.menu-list__item {
  padding: 22px 0 24px;
}

.menu-list__item a {
  text-decoration: none;
  color: #000000;
}
