.method-application__list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 74px;
  }
}

.method-application__item {
  min-height: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 250px;
    min-height: 280px;
  }
}

.method-application__item::before {
  background-color: $bg-basic-green;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.method-application__item--step-one::before {
  background-image: url("../../icons/stack.svg#method-application-1");
  background-size: 25px 28px;
}

.method-application__item--step-one::after {
  @media (min-width: $tablet-width) {
    content: "1";
    color: #f2f2f2;
    position: absolute;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.method-application__item--step-two::before {
  background-image: url("../../icons/stack.svg#method-application-2");
  background-size: 26px 29px;
}

.method-application__item--step-two::after {
  @media (min-width: $tablet-width) {
    content: "2";
    color: #f2f2f2;
    position: absolute;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.method-application__item--step-three::before {
  background-image: url("../../icons/stack.svg#method-application-3");
  background-size: 25px 30px;
}

.method-application__item--step-three::after {
  @media (min-width: $tablet-width) {
    content: "3";
    color: #f2f2f2;
    position: absolute;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.method-application__item--step-four::before {
  background-image: url("../../icons/stack.svg#method-application-4");
  background-size: 26px 31px;
}

.method-application__item--step-four::after {
  @media (min-width: $tablet-width) {
    content: "4";
    color: #f2f2f2;
    position: absolute;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.method-application__description {
  padding-left: 80px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: unset;
    padding-top: 151px;
  }
}
