.nutrition-programs {
  background-image:
    linear-gradient(
      rgba(104, 183, 56, 0.85) 65%,
      rgba(255, 255, 255, 1) 65%,
    ),
    url("../../images/index-background-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: unset;
    background-position: unset;
    background-size: unset;
    background-repeat: unset;
    background-color: unset;
    text-align: left;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    min-height: 594px;
  }
}

.nutrition-programs__header {
  text-align: center;
  color: #ffffff;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  display: grid;
  align-items: center;
}

.nutrition-programs__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 20px 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding: 65px 90px 40px;
    max-width: 750px;
    order: -3;
    text-align: left;
  }
}

.nutrition-programs__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0 20px 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 0 90px 50px;
    max-width: 750px;
    order: -2;
    text-align: left;
    margin: 0;
  }
}

.nutrition-programs__img {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: -70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -350px;
    margin-left: 260px;
  }
}

.nutrition-programs__button {
  width: 280px;
  height: 40px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    width: 244px;
    order: -1;
    z-index: 1;
    justify-self: left;
    margin-left: 90px;
  }
}
