.nutrition-programs {
  background-image:
    linear-gradient(
      rgba(104, 183, 56, 0.85) 63%,
      rgba(255, 255, 255, 1) 63%,
    ),
    image-set(
      url("../../images/index-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/index-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index-background-mobile@2x.png") type("image/png") 2x,
      url("../../images/index-background-mobile@1x.png") type("image/png") 1x);

  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  @media (min-width: $tablet-width) {
    background-image: unset;
    background-position: unset;
    background-size: unset;
    background-repeat: unset;
    background-color: unset;
    text-align: left;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    min-height: 594px;
  }
}

.nutrition-programs__header {
  text-align: center;
  color: #ffffff;
  display: grid;
  align-items: center;
}

.nutrition-programs__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 14px 12px;
  margin: 0;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding: 51px 90px 40px;
    max-width: 750px;
    order: -3;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 80px 40px;
    max-width: 650px;
  }
}

.nutrition-programs__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0 20px 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 0 90px 50px;
    max-width: 750px;
    order: -2;
    text-align: left;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 655px;
    padding: 2px 80px 52px;
  }
}

.nutrition-programs__header picture {
  @media (min-width: $desktop-width) {
    order: -10;
  }
}

.nutrition-programs__img {
  text-align: center;
  display: unset;
  margin-top: -13px;

  @media (min-width: $tablet-width) {
    margin: auto;
    margin-top: -85px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -24px;
    margin-bottom: -760px;
    margin-left: 446px;
    display: block;
  }
}

.nutrition-programs__button {
  width: 280px;
  height: 40px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    width: 244px;
    order: -1;
    z-index: 1;
    justify-self: left;
    margin-left: 90px;
    min-height: 54px;

    @media (min-width: $desktop-width) {
      margin-left: 80px;
    }
  }
}
