.nutrition-programs {
  background-color: rgba(104, 183, 56, 0.85);
  color: #ffffff;
}

.nutrition-programs__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
}

.nutrition-programs__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
