.other-products {
  position: relative;
}

.other-products-wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.other-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  width: fit-content;
  background-color: #ffffff;
  box-shadow: -40px 0 0 #ffffff, 40px 0 0 #ffffff;

  margin: 0;
  padding: 25px 0 36px;
  font-weight: 400;

  // &::after {
  //   content: "";
  //   background-color: $bg-basic-green;
  //   width: 100%;
  //   height: 2px;
  //   position: absolute;
  //   top: 12px;
  //   display: block;
  //   z-index: -1;
  // }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin: 47px 0 0 40px;

    // &::before {
    //   content: "";
    //   background-color: #68b738;
    //   width: 70px;
    //   height: 2px;
    //   display: block;
    //   position: absolute;
    //   top: 12px;
    //   left: 0;
    // }
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 46px 0 0;
  }
}

.other-products__title::after {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 50vw;
  height: 2px;
  background-color: $bg-basic-green;
  box-shadow: 50vw 0 0 $bg-basic-green;

  @media (min-width: $tablet-width) {
    box-shadow:
      50vw 0 0 $bg-basic-green,
      -50vw 0 0 $bg-basic-green;
    top: 40px;
  }

  @media (min-width: $desktop-width) {
    top: 45px;
  }
}

.other-products__list {
  padding: 0;
  margin: 0;
  padding-bottom: 19px;

  @media (min-width: $desktop-width) {
    width: 895px;
    padding-bottom: unset;
  }
}

.other-products__card {
  list-style: none;
  text-decoration: none;
  border-top: 1px solid #cdcdcd;
  min-height: 98px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 11px 38px 23px;
  }

  @media (min-width: $desktop-width) {
    border-left: unset;
    border-right: unset;
    padding: unset;
    display: flex;
    justify-content: space-between;
    min-height: 72px;
    gap: 40px;
  }
}

.other-products__card:last-child {
  border-bottom: 1px solid #cdcdcd;
}


.other-products__card-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.other-products__card-name {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding-top: 13px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: unset;
  }
}

.other-products__card-param {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 50px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 285px;
    margin-left: auto;
    justify-content: space-between;
  }
}

.other-products__button {
  text-align: center;
  display: block;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    grid-column: -1/1;
    margin-top: unset;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    flex-shrink: 0;
  }
}
