.product-all-cards__catalog {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.products-all-cards__catalog {
  color: #444444;
}
