.product-card {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  border-bottom: 1px solid #ebebeb;
  padding-top: 20px;
  padding-bottom: 25px;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    border-bottom: unset;
    padding-top: unset;
    padding-bottom: unset;
    background-image: linear-gradient(#ffffff 15%, #eaeaea 15%);
  }
}

.product-card--more {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    height: unset;
    min-height: 430px;
    background-image: none;
    border: 2px solid #d3d3d3;
    margin-top: 70px;
  }
}

.product-card--more::before {
  content: "";
  position: absolute;
  background-color: #d3d3d3;
  top: 15%;
  left: 50%;
  width: 2px;
  height: 30px;
  transform: translate(-50%, -50%) rotate(180deg);


  @media (min-width: $tablet-width) {
    top: 20%x;
    left: 50%;
    width: 2px;
    height: 60px;
  }
}

.product-card--more::after {
  content: "";
  position: absolute;
  background-color: #d3d3d3;
  top: 15%;
  left: 50%;
  width: 2px;
  height: 30px;
  transform: translate(-50%, -50%) rotate(90deg);

  @media (min-width: $tablet-width) {
    top: 20%x;
    left: 50%;
    width: 2px;
    height: 60px;
  }
}

.product-card__link {
  text-decoration: none;
  color: #222222;
}

.product-card__img {
  grid-row: 1/2;
  margin: 0;
  display: block;
  justify-self: center;
  align-content: center;


  @media (min-width: $desktop-width) {
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    height: 196px;
  }
}

.product-card__image {
  display: block;
}

.product-card__description {
  @media (min-width: $tablet-width) {
    padding: 22px 0 20px;
    min-width: 250px;
    width: 170px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: unset;
    min-width: 170px;
    width: unset;
    margin-bottom: 32px;
  }
}

.product-card__description--more {
  padding: unset;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    padding-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    padding: unset;
    margin: 0;
  }
}

.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 14px;
  color: #222222;
  width: 70%;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 22px 37px 20px;
    margin: auto;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 0 23px;
  }
}

.product-card__title--more {
  padding: 58px 0 8px;
  text-align: center;
  width: 80%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 160px 0 23px;
  }
}

.product-card__param {
  grid-column: 2/3;
  padding: 0;
  margin: 0;
}

.product-card__button {
  grid-column: 1/3;
  text-align: center;
  align-self: center;
  color: #ffffff;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    grid-column: unset;
    text-align: center;
    width: 250px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin-top: auto;
  }
}

.product-card__button--more {
  width: 280px;
  background-color: #f2f2f2;
  color: #444444;

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}
