.screen-stretch-wrapper {
  min-width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 110px;
  }
}
