.social {
  padding: 20px auto;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-top: unset;
    padding-bottom: unset;
    border-top: unset;
    border-bottom: unset;
  }
}

.social__list {
  display: flex;
  padding: 23px;
  justify-content: center;
  gap: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 28px;
    padding: unset;
    padding-left: 20px;
    padding-top: 2px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  list-style: none;
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#icon-vk");
  display: block;
  width: 27px;
  height: 17px;
  background-color: #666666;
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#icon-youtube");
  display: block;
  width: 24px;
  height: 19px;
  background-color: #666666;
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#icon-telegram");
  display: block;
  width: 19px;
  height: 17px;
  background-color: #666666;
}

.social__link--vkontakte:hover,
.social__link--vkontakte:focus,
.social__link--youtube:hover,
.social__link--youtube:focus,
.social__link--telegram:hover,
.social__link--telegram:focus {
  background-color: $bg-basic-green;
}

.social__link--vkontakte:active,
.social__link--youtube:active,
.social__link--telegram:active {
  opacity: 30%;
}
